
# Created by https://www.gitignore.io/api/xcode,swift

### Swift ###
# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
# Package.resolved
.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/
#
# Add this line if you want to avoid checking in source code from the Xcode workspace
# *.xcworkspace

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

### Xcode ###
# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings

## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)

## compatibility with Xcode 3 and earlier (ignoring not required starting Xcode 4)

### Xcode Patch ###
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno


# End of https://www.gitignore.io/api/xcode,swift

Pods/AWSCognito/AWSCognito/AWSCognito\.h

Pods/AWSCognito/AWSCognito/AWSCognitoConflict\.h

Pods/AWSCognito/AWSCognito/AWSCognitoConflict\.m

Pods/AWSCognito/AWSCognito/AWSCognitoDataset\.h

Pods/AWSCognito/AWSCognito/AWSCognitoDataset\.m

Pods/AWSCognito/AWSCognito/AWSCognitoHandlers\.h

Pods/AWSCognito/AWSCognito/AWSCognitoRecord\.h

Pods/AWSCognito/AWSCognito/AWSCognitoRecord\.m

Pods/AWSCognito/AWSCognito/AWSCognitoService\.h

Pods/AWSCognito/AWSCognito/AWSCognitoService\.m

Pods/AWSCognito/AWSCognito/CognitoSync/AWSCognitoSyncModel\.h

Pods/AWSCognito/AWSCognito/CognitoSync/AWSCognitoSyncModel\.m

Pods/AWSCognito/AWSCognito/CognitoSync/AWSCognitoSyncResources\.h

Pods/AWSCognito/AWSCognito/CognitoSync/AWSCognitoSyncResources\.m

Pods/AWSCognito/AWSCognito/CognitoSync/AWSCognitoSyncService\.h

Pods/AWSCognito/AWSCognito/CognitoSync/AWSCognitoSyncService\.m

Pods/AWSCognito/AWSCognito/Internal/AWSCognitoConflict_Internal\.h

Pods/AWSCognito/AWSCognito/Internal/AWSCognitoConstants\.h

Pods/AWSCognito/AWSCognito/Internal/AWSCognitoConstants\.m

Pods/AWSCognito/AWSCognito/Internal/AWSCognitoDataset_Internal\.h

Pods/AWSCognito/AWSCognito/Internal/AWSCognitoRecord_Internal\.h

Pods/AWSCognito/AWSCognito/Internal/AWSCognitoSQLiteManager\.h

Pods/AWSCognito/AWSCognito/Internal/AWSCognitoSQLiteManager\.m

Pods/AWSCognito/AWSCognito/Internal/AWSCognitoUtil\.h

Pods/AWSCognito/AWSCognito/Internal/AWSCognitoUtil\.m

Pods/AWSCognito/LICENSE

Pods/AWSCognito/LICENSE\.AMAZON

Pods/AWSCognito/LICENSE\.APACHE

Pods/AWSCognito/README\.md

Pods/AWSCore/AWSCore/Authentication/AWSCredentialsProvider\.h

Pods/AWSCore/AWSCore/Authentication/AWSCredentialsProvider\.m

Pods/AWSCore/AWSCore/Authentication/AWSIdentityProvider\.h

Pods/AWSCore/AWSCore/Authentication/AWSIdentityProvider\.m

Pods/AWSCore/AWSCore/Authentication/AWSSignature\.h

Pods/AWSCore/AWSCore/Authentication/AWSSignature\.m

Pods/AWSCore/AWSCore/AWSCore\.h

Pods/AWSCore/AWSCore/Bolts/AWSBolts\.h

Pods/AWSCore/AWSCore/Bolts/AWSBolts\.m

Pods/AWSCore/AWSCore/Bolts/AWSCancellationToken\.h

Pods/AWSCore/AWSCore/Bolts/AWSCancellationToken\.m

Pods/AWSCore/AWSCore/Bolts/AWSCancellationTokenRegistration\.h

Pods/AWSCore/AWSCore/Bolts/AWSCancellationTokenRegistration\.m

Pods/AWSCore/AWSCore/Bolts/AWSCancellationTokenSource\.h

Pods/AWSCore/AWSCore/Bolts/AWSCancellationTokenSource\.m

Pods/AWSCore/AWSCore/Bolts/AWSExecutor\.h

Pods/AWSCore/AWSCore/Bolts/AWSExecutor\.m

Pods/AWSCore/AWSCore/Bolts/AWSGeneric\.h

Pods/AWSCore/AWSCore/Bolts/AWSTask\.h

Pods/AWSCore/AWSCore/Bolts/AWSTask\.m

Pods/AWSCore/AWSCore/Bolts/AWSTaskCompletionSource\.h

Pods/AWSCore/AWSCore/Bolts/AWSTaskCompletionSource\.m

Pods/AWSCore/AWSCore/CognitoIdentity/AWSCognitoIdentity\.h

Pods/AWSCore/AWSCore/CognitoIdentity/AWSCognitoIdentity\+Fabric\.h

Pods/AWSCore/AWSCore/CognitoIdentity/AWSCognitoIdentity\+Fabric\.m

Pods/AWSCore/AWSCore/CognitoIdentity/AWSCognitoIdentityModel\.h

Pods/AWSCore/AWSCore/CognitoIdentity/AWSCognitoIdentityModel\.m

Pods/AWSCore/AWSCore/CognitoIdentity/AWSCognitoIdentityResources\.h

Pods/AWSCore/AWSCore/CognitoIdentity/AWSCognitoIdentityResources\.m

Pods/AWSCore/AWSCore/CognitoIdentity/AWSCognitoIdentityService\.h

Pods/AWSCore/AWSCore/CognitoIdentity/AWSCognitoIdentityService\.m

Pods/AWSCore/AWSCore/Fabric/FABAttributes\.h

Pods/AWSCore/AWSCore/Fabric/FABKitProtocol\.h

Pods/AWSCore/AWSCore/Fabric/Fabric\.h

Pods/AWSCore/AWSCore/Fabric/Fabric\+FABKits\.h

Pods/AWSCore/AWSCore/FMDB/AWSFMDatabase\.h

Pods/AWSCore/AWSCore/FMDB/AWSFMDatabase\.m

Pods/AWSCore/AWSCore/FMDB/AWSFMDatabase\+Private\.h

Pods/AWSCore/AWSCore/FMDB/AWSFMDatabaseAdditions\.h

Pods/AWSCore/AWSCore/FMDB/AWSFMDatabaseAdditions\.m

Pods/AWSCore/AWSCore/FMDB/AWSFMDatabasePool\.h

Pods/AWSCore/AWSCore/FMDB/AWSFMDatabasePool\.m

Pods/AWSCore/AWSCore/FMDB/AWSFMDatabaseQueue\.h

Pods/AWSCore/AWSCore/FMDB/AWSFMDatabaseQueue\.m

Pods/AWSCore/AWSCore/FMDB/AWSFMDB\.h

Pods/AWSCore/AWSCore/FMDB/AWSFMResultSet\.h

Pods/AWSCore/AWSCore/FMDB/AWSFMResultSet\.m

Pods/AWSCore/AWSCore/GZIP/AWSGZIP\.h

Pods/AWSCore/AWSCore/GZIP/AWSGZIP\.m

Pods/AWSCore/AWSCore/KSReachability/AWSKSReachability\.h

Pods/AWSCore/AWSCore/KSReachability/AWSKSReachability\.m

Pods/AWSCore/AWSCore/Logging/AWSCocoaLumberjack\.h

Pods/AWSCore/AWSCore/Logging/AWSDDAbstractDatabaseLogger\.h

Pods/AWSCore/AWSCore/Logging/AWSDDAbstractDatabaseLogger\.m

Pods/AWSCore/AWSCore/Logging/AWSDDASLLogCapture\.h

Pods/AWSCore/AWSCore/Logging/AWSDDASLLogCapture\.m

Pods/AWSCore/AWSCore/Logging/AWSDDASLLogger\.h

Pods/AWSCore/AWSCore/Logging/AWSDDASLLogger\.m

Pods/AWSCore/AWSCore/Logging/AWSDDAssertMacros\.h

Pods/AWSCore/AWSCore/Logging/AWSDDFileLogger\.h

Pods/AWSCore/AWSCore/Logging/AWSDDFileLogger\.m

Pods/AWSCore/AWSCore/Logging/AWSDDLegacyMacros\.h

Pods/AWSCore/AWSCore/Logging/AWSDDLog\.h

Pods/AWSCore/AWSCore/Logging/AWSDDLog\.m

Pods/AWSCore/AWSCore/Logging/AWSDDLog\+LOGV\.h

Pods/AWSCore/AWSCore/Logging/AWSDDLogMacros\.h

Pods/AWSCore/AWSCore/Logging/AWSDDMultiFormatter\.m

Pods/AWSCore/AWSCore/Logging/AWSDDOSLogger\.h

Pods/AWSCore/AWSCore/Logging/AWSDDOSLogger\.m

Pods/AWSCore/AWSCore/Logging/AWSDDTTYLogger\.h

Pods/AWSCore/AWSCore/Logging/AWSDDTTYLogger\.m

Pods/AWSCore/AWSCore/Logging/Extensions/AWSDDContextFilterLogFormatter\.h

Pods/AWSCore/AWSCore/Logging/Extensions/AWSDDContextFilterLogFormatter\.m

Pods/AWSCore/AWSCore/Logging/Extensions/AWSDDDispatchQueueLogFormatter\.h

Pods/AWSCore/AWSCore/Logging/Extensions/AWSDDDispatchQueueLogFormatter\.m

Pods/AWSCore/AWSCore/Logging/Extensions/AWSDDMultiFormatter\.h

Pods/AWSCore/AWSCore/Mantle/AWSMantle\.h

Pods/AWSCore/AWSCore/Mantle/AWSMTLJSONAdapter\.h

Pods/AWSCore/AWSCore/Mantle/AWSMTLJSONAdapter\.m

Pods/AWSCore/AWSCore/Mantle/AWSMTLManagedObjectAdapter\.h

Pods/AWSCore/AWSCore/Mantle/AWSMTLManagedObjectAdapter\.m

Pods/AWSCore/AWSCore/Mantle/AWSMTLModel\.h

Pods/AWSCore/AWSCore/Mantle/AWSMTLModel\.m

Pods/AWSCore/AWSCore/Mantle/AWSMTLModel\+NSCoding\.h

Pods/AWSCore/AWSCore/Mantle/AWSMTLModel\+NSCoding\.m

Pods/AWSCore/AWSCore/Mantle/AWSMTLReflection\.h

Pods/AWSCore/AWSCore/Mantle/AWSMTLReflection\.m

Pods/AWSCore/AWSCore/Mantle/AWSMTLValueTransformer\.h

Pods/AWSCore/AWSCore/Mantle/AWSMTLValueTransformer\.m

Pods/AWSCore/AWSCore/Mantle/extobjc/AWSEXTKeyPathCoding\.h

Pods/AWSCore/AWSCore/Mantle/extobjc/AWSEXTRuntimeExtensions\.h

Pods/AWSCore/AWSCore/Mantle/extobjc/AWSEXTRuntimeExtensions\.m

Pods/AWSCore/AWSCore/Mantle/extobjc/AWSEXTScope\.h

Pods/AWSCore/AWSCore/Mantle/extobjc/AWSEXTScope\.m

Pods/AWSCore/AWSCore/Mantle/extobjc/AWSmetamacros\.h

Pods/AWSCore/AWSCore/Mantle/NSArray\+AWSMTLManipulationAdditions\.h

Pods/AWSCore/AWSCore/Mantle/NSArray\+AWSMTLManipulationAdditions\.m

Pods/AWSCore/AWSCore/Mantle/NSDictionary\+AWSMTLManipulationAdditions\.h

Pods/AWSCore/AWSCore/Mantle/NSDictionary\+AWSMTLManipulationAdditions\.m

Pods/AWSCore/AWSCore/Mantle/NSError\+AWSMTLModelException\.h

Pods/AWSCore/AWSCore/Mantle/NSError\+AWSMTLModelException\.m

Pods/AWSCore/AWSCore/Mantle/NSObject\+AWSMTLComparisonAdditions\.h

Pods/AWSCore/AWSCore/Mantle/NSObject\+AWSMTLComparisonAdditions\.m

Pods/AWSCore/AWSCore/Mantle/NSValueTransformer\+AWSMTLInversionAdditions\.h

Pods/AWSCore/AWSCore/Mantle/NSValueTransformer\+AWSMTLInversionAdditions\.m

Pods/AWSCore/AWSCore/Mantle/NSValueTransformer\+AWSMTLPredefinedTransformerAdditions\.h

Pods/AWSCore/AWSCore/Mantle/NSValueTransformer\+AWSMTLPredefinedTransformerAdditions\.m

Pods/AWSCore/AWSCore/Networking/AWSNetworking\.h

Pods/AWSCore/AWSCore/Networking/AWSNetworking\.m

Pods/AWSCore/AWSCore/Networking/AWSURLSessionManager\.h

Pods/AWSCore/AWSCore/Networking/AWSURLSessionManager\.m

Pods/AWSCore/AWSCore/Serialization/AWSSerialization\.h

Pods/AWSCore/AWSCore/Serialization/AWSSerialization\.m

Pods/AWSCore/AWSCore/Serialization/AWSURLRequestRetryHandler\.h

Pods/AWSCore/AWSCore/Serialization/AWSURLRequestRetryHandler\.m

Pods/AWSCore/AWSCore/Serialization/AWSURLRequestSerialization\.h

Pods/AWSCore/AWSCore/Serialization/AWSURLRequestSerialization\.m

Pods/AWSCore/AWSCore/Serialization/AWSURLResponseSerialization\.h

Pods/AWSCore/AWSCore/Serialization/AWSURLResponseSerialization\.m

Pods/AWSCore/AWSCore/Serialization/AWSValidation\.h

Pods/AWSCore/AWSCore/Serialization/AWSValidation\.m

Pods/AWSCore/AWSCore/Service/AWSClientContext\.h

Pods/AWSCore/AWSCore/Service/AWSClientContext\.m

Pods/AWSCore/AWSCore/Service/AWSInfo\.h

Pods/AWSCore/AWSCore/Service/AWSInfo\.m

Pods/AWSCore/AWSCore/Service/AWSService\.h

Pods/AWSCore/AWSCore/Service/AWSService\.m

Pods/AWSCore/AWSCore/Service/AWSServiceEnum\.h

Pods/AWSCore/AWSCore/STS/AWSSTS\.h

Pods/AWSCore/AWSCore/STS/AWSSTSModel\.h

Pods/AWSCore/AWSCore/STS/AWSSTSModel\.m

Pods/AWSCore/AWSCore/STS/AWSSTSResources\.h

Pods/AWSCore/AWSCore/STS/AWSSTSResources\.m

Pods/AWSCore/AWSCore/STS/AWSSTSService\.h

Pods/AWSCore/AWSCore/STS/AWSSTSService\.m

Pods/AWSCore/AWSCore/TMCache/AWSTMCache\.h

Pods/AWSCore/AWSCore/TMCache/AWSTMCache\.m

Pods/AWSCore/AWSCore/TMCache/AWSTMCacheBackgroundTaskManager\.h

Pods/AWSCore/AWSCore/TMCache/AWSTMDiskCache\.h

Pods/AWSCore/AWSCore/TMCache/AWSTMDiskCache\.m

Pods/AWSCore/AWSCore/TMCache/AWSTMMemoryCache\.h

Pods/AWSCore/AWSCore/TMCache/AWSTMMemoryCache\.m

Pods/AWSCore/AWSCore/UICKeyChainStore/AWSUICKeyChainStore\.h

Pods/AWSCore/AWSCore/UICKeyChainStore/AWSUICKeyChainStore\.m

Pods/AWSCore/AWSCore/Utility/AWSCategory\.h

Pods/AWSCore/AWSCore/Utility/AWSCategory\.m

Pods/AWSCore/AWSCore/Utility/AWSLogging\.h

Pods/AWSCore/AWSCore/Utility/AWSLogging\.m

Pods/AWSCore/AWSCore/Utility/AWSModel\.h

Pods/AWSCore/AWSCore/Utility/AWSModel\.m

Pods/AWSCore/AWSCore/Utility/AWSSynchronizedMutableDictionary\.h

Pods/AWSCore/AWSCore/Utility/AWSSynchronizedMutableDictionary\.m

Pods/AWSCore/AWSCore/XMLDictionary/AWSXMLDictionary\.h

Pods/AWSCore/AWSCore/XMLDictionary/AWSXMLDictionary\.m

Pods/AWSCore/AWSCore/XMLWriter/AWSXMLWriter\.h

Pods/AWSCore/AWSCore/XMLWriter/AWSXMLWriter\.m

Pods/AWSCore/LICENSE

Pods/AWSCore/LICENSE\.AMAZON

Pods/AWSCore/LICENSE\.APACHE

Pods/AWSCore/README\.md

Pods/AWSS3/AWSS3/AWSS3\.h

Pods/AWSS3/AWSS3/AWSS3Model\.h

Pods/AWSS3/AWSS3/AWSS3Model\.m

Pods/AWSS3/AWSS3/AWSS3PreSignedURL\.h

Pods/AWSS3/AWSS3/AWSS3PreSignedURL\.m

Pods/AWSS3/AWSS3/AWSS3RequestRetryHandler\.h

Pods/AWSS3/AWSS3/AWSS3RequestRetryHandler\.m

Pods/AWSS3/AWSS3/AWSS3Resources\.h

Pods/AWSS3/AWSS3/AWSS3Resources\.m

Pods/AWSS3/AWSS3/AWSS3Serializer\.h

Pods/AWSS3/AWSS3/AWSS3Serializer\.m

Pods/AWSS3/AWSS3/AWSS3Service\.h

Pods/AWSS3/AWSS3/AWSS3Service\.m

Pods/AWSS3/AWSS3/AWSS3TransferManager\.h

Pods/AWSS3/AWSS3/AWSS3TransferManager\.m

Pods/AWSS3/AWSS3/AWSS3TransferUtility\.h

Pods/AWSS3/AWSS3/AWSS3TransferUtility\.m

Pods/AWSS3/AWSS3/AWSS3TransferUtility\+HeaderHelper\.h

Pods/AWSS3/AWSS3/AWSS3TransferUtility\+HeaderHelper\.m

Pods/AWSS3/AWSS3/AWSS3TransferUtility\+Validation\.h

Pods/AWSS3/AWSS3/AWSS3TransferUtility\+Validation\.m

Pods/AWSS3/AWSS3/AWSS3TransferUtilityDatabaseHelper\.h

Pods/AWSS3/AWSS3/AWSS3TransferUtilityDatabaseHelper\.m

Pods/AWSS3/AWSS3/AWSS3TransferUtilityTasks\.h

Pods/AWSS3/AWSS3/AWSS3TransferUtilityTasks\.m

Pods/AWSS3/LICENSE

Pods/AWSS3/LICENSE\.AMAZON

Pods/AWSS3/LICENSE\.APACHE

Pods/AWSS3/README\.md

Pods/Manifest\.lock

Pods/Pods\.xcodeproj/project\.pbxproj

Pods/Target Support Files/AWSCognito/AWSCognito-dummy\.m

Pods/Target Support Files/AWSCognito/AWSCognito-prefix\.pch

Pods/Target Support Files/AWSCognito/AWSCognito-umbrella\.h

Pods/Target Support Files/AWSCognito/AWSCognito\.modulemap

Pods/Target Support Files/AWSCognito/AWSCognito\.xcconfig

Pods/Target Support Files/AWSCognito/Info\.plist

Pods/Target Support Files/AWSCore/AWSCore-dummy\.m

Pods/Target Support Files/AWSCore/AWSCore-prefix\.pch

Pods/Target Support Files/AWSCore/AWSCore-umbrella\.h

Pods/Target Support Files/AWSCore/AWSCore\.modulemap

Pods/Target Support Files/AWSCore/AWSCore\.xcconfig

Pods/Target Support Files/AWSCore/Info\.plist

Pods/Target Support Files/AWSS3/AWSS3-dummy\.m

Pods/Target Support Files/AWSS3/AWSS3-prefix\.pch

Pods/Target Support Files/AWSS3/AWSS3-umbrella\.h

Pods/Target Support Files/AWSS3/AWSS3\.modulemap

Pods/Target Support Files/AWSS3/AWSS3\.xcconfig

Pods/Target Support Files/AWSS3/Info\.plist

Pods/Target Support Files/Pods-Real Time Bird Audio Classifier/Info\.plist

Pods/Target Support Files/Pods-Real Time Bird Audio Classifier/Pods-Real Time Bird Audio Classifier-acknowledgements\.markdown

Pods/Target Support Files/Pods-Real Time Bird Audio Classifier/Pods-Real Time Bird Audio Classifier-acknowledgements\.plist

Pods/Target Support Files/Pods-Real Time Bird Audio Classifier/Pods-Real Time Bird Audio Classifier-dummy\.m

Pods/Target Support Files/Pods-Real Time Bird Audio Classifier/Pods-Real Time Bird Audio Classifier-frameworks\.sh

Pods/Target Support Files/Pods-Real Time Bird Audio Classifier/Pods-Real Time Bird Audio Classifier-resources\.sh

Pods/Target Support Files/Pods-Real Time Bird Audio Classifier/Pods-Real Time Bird Audio Classifier-umbrella\.h

Pods/Target Support Files/Pods-Real Time Bird Audio Classifier/Pods-Real Time Bird Audio Classifier\.debug\.xcconfig

Pods/Target Support Files/Pods-Real Time Bird Audio Classifier/Pods-Real Time Bird Audio Classifier\.modulemap

Pods/Target Support Files/Pods-Real Time Bird Audio Classifier/Pods-Real Time Bird Audio Classifier\.release\.xcconfig
